extends layout

block content
    div(class="inner cover")
        h1(class="cover-heading") Pelatihan Karya Ilmiah
        p(class="lead") Situs ini digunakan untuk pengumuman dan membagikan materi pelatihan karya ilmiah SMA Negeri 26 Jakarta. Silakan pergunakan sebagaimana mestinya.
        p(class="lead")
          a(href="material.html", class="btn btn-lg btn-default") Pelajari