extends layout

block content
    div(class="container-fluid")
        div(class="row")
            div(class="col-lg-12")
                h1(class="cover-heading") Materi per Sesi
                p(class="text-muted") Klik judul sesi untuk mengunduh berkas yang dibutuhkan
                ul(class="list-unstyled")
                    li
                        strong Sesi 1 - 
                        a(href="https://dl.dropboxusercontent.com/u/22599096/KIR/Sesi%201%20-%20Research.pptx") Research
                    li
                        strong Sesi 2 - 
                        a(href="https://dl.dropboxusercontent.com/u/22599096/KIR/Sesi%202%20-%20Metode%20Penelitian.pptx") Metode penelitian
                    li
                        strong Sesi 2 - 
                        a(href="https://dl.dropboxusercontent.com/u/22599096/KIR/Sesi%202%20-%20Studi%20Literatur%20dan%20Pengutipan.ppt") Studi literatur
            div(class="col-lg-12")
                h1(class="cover-heading") Kursus Daring
                p(class="text-muted") Kursus daring (dalam jaringan) yang dapat diikuti tentang prinsip metode ilmiah dalam ilmu sosial dari University of Amsterdam
                a(href="https://www.coursera.org/learn/quantitative-methods", target="_") https://www.coursera.org/learn/quantitative-methods